<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
</head>
<body>
    <h1>Bookstore</h1>

          <div class="row">
          <div class="column">
            <div class="card">
              
              <div class="card-content">
                <h3>What we do</h3>
                <p>We know that books are more about the knowledge inside than the actual cover. The thought that a slightly used book may be gathering dust on a shelf, or even worse-sent to a landfill- terrifies us. <br>
                  These books can bring learning and joy to a new reader and be friendly on the pocket too! Here at MapMyBook we strive to create a community that can draw on each other for all their book related needs. <br> Whether it be getting competitive exam books for your JEE/NEET preparation, a set for the new school year or just that really cool Enid Blyton novel: we’ve got you covered! Giving new lives to our old books; Welcome to MapMyBook!</p> </div>
                  <div class="card-action">
                    <a href="/login">Make your account</a>
                    <a href="/account">Login to your account</a>
                  </div>
            </div>
          </div>
          

          <div class="column">
            <div class="card">
              <div class="card-image">
                <img src="images/1.png">
              </div>
              <div class="card-content">
                <p>Need reference books for your boards? Or just a set of NCERTs for the new school year?</p></div>
                <div class="card-action">
                  <a href="/buy">Buy</a>
                 
                </div>
            </div>
          </div>
          
        
          <div class="column">
            <div class="card">
              <div class="card-image">
                <img src="images/2.png">
              </div>
              <div class="card-content">
                <p>Want to pass on your books to someone who could use them? Free up that space on your bookshelf and make some money too?</p></div>
                <div class="card-action">
                  <a href="/sell">Sell</a>
                  
                </div>
            </div>
          </div>
          
          
          
        </div>
      
</body>

 
</html>
